<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-GB{{ end }}">
{{- partial "head.html" . -}}

<body id="page-top" class="index">
	{{- partial "preloader.html" . -}}
	{{- partial "navbar.html" . -}}
	{{ if .Params.includeHeader }}
		{{- partial "header.html" . -}}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
</body>

</html>
