<footer class="footer py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				{{ with site.Params.social }}
				<div class="social-buttons">
					{{ range . }}
						<a class="btn btn-dark btn-social mx-2 hoverTransition" href="{{ .link | safeURL }}" target="_blank" rel="noreferrer" alt="{{ .title }}">
							<i class="{{ .icon }}"></i>
						</a>
					{{ end }}
				</div>
				{{ end }}
			</div>
			<div class="col-lg-6 text-lg-middle">
				<a class="page-scroll hoverTransition" href="#page-top"><i class="fa fa-arrow-up">&nbsp;Seitenanfang</i></a>
			</div>
		</div>
	</div>
</footer>

{{ "<!-- Deferred CSS Plugins -->" | safeHTML }}
<script type="text/javascript" defer>
	let link
	let godefer
	{{ $allcss := slice }}
	{{ if site.Params.plugins.cssDefer }}
	{{ range site.Params.plugins.cssDefer }}
		{{ if findRE "^http" .link }}
			link = document.createElement('link');
			link.rel = 'stylesheet';
			link.href = '{{ .link | relURL }}';
			link.type = 'text/css';
			godefer = document.getElementsByTagName('footer')[0];
			godefer.appendChild(link);
		{{ else}}
			{{ $allcss = $allcss | append (resources.Get .link) }}
		{{ end }}
	{{ end }}
	{{ end }}
	{{ if $allcss }}
		{{ $allcss := $allcss | resources.Concat "/css/deferred.css" | minify | fingerprint "sha512" }}
		link = document.createElement('link');
		link.rel = 'stylesheet';
		link.href = '{{$allcss.RelPermalink}}';
		link.integrity = '{{$allcss.Data.Integrity}}';
		link.type = 'text/plain';
		link.media = 'screen';
		godefer = document.getElementsByTagName('footer')[0];
		godefer.appendChild(link);
	{{end}}
</script>

{{ "<!-- JS Plugins + Main Script -->" | safeHTML }}
{{ $allscript := slice }}
{{ if site.Params.plugins.js }}
{{ range site.Params.plugins.js}}
	{{ if findRE "^http" .link }}
		<script src="{{ .link | relURL }}"></script>
	{{ else }}
		{{ $allscript = $allscript | append (resources.Get .link) }}
	{{ end }}
{{ end }}
{{ $allscript := $allscript | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>
{{ end }}

{{ "<!-- Deferred JS Plugins + Main Script -->" | safeHTML }}
{{ if site.Params.plugins.jsDefer }}
{{ $allscript := slice }}
{{ range site.Params.plugins.jsDefer}}
	{{ if findRE "^http" .link }}
		<script src="{{ .link | relURL }}" defer></script>
	{{ else }}
		{{ $allscript = $allscript | append (resources.Get .link) }}
	{{ end }}
{{ end }}
{{ $allscript := $allscript | resources.Concat "js/deferred.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}" defer></script>
{{ end }}
