{{ "<!-- header -->" | safeHTML }}
<header class="masthead">
	<div class="container">
		{{ partial "image" (dict "image" (.Resources.GetMatch "me.jpg") "altText" "Bild von Roy Meissner" "classes" "img-fluid rounded-circle header-image" "sizes" "400,400,400" "width" "280" "height" "280") }}
		<div class="masthead-subheading">Willkommen!</div>
		<div class="masthead-heading text-uppercase">Schön, dass Sie hier sind</div>
		<div class="masthead-subheading">und mehr zu mir erfahren wollen</div>
		<a href="#services" class="hoverTransition">
			<span class="fa-stack fa-2x">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	</div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
