<head>
	<meta charset="utf-8">
	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description"
		content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
	{{ with site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	<title>{{ .Title }}</title>
	{{ hugo.Generator }}

	{{ "<!-- Plugins + Stylesheets -->" | safeHTML }}
	<noscript>
		{{ $allcss := slice }}
		{{ range site.Params.plugins.cssDefer }}
		{{ if findRE "^http" .link }}
		<link rel="stylesheet" href="{{ .link | relURL }}" integrity=" {{ .hash }}" defer>
		{{ else}}
			{{ $allcss = $allcss | append (resources.Get .link) }}
		{{ end }}
		{{ end }}
		{{ if $allcss }}
		{{ $allcss := $allcss | resources.Concat "/css/deferred.css" | minify | fingerprint "sha512" }}
		<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}" media="screen">
		{{ end }}
		<!-- loaded in footer as deferred if js is available-->
	</noscript>
	{{ $allcss := slice }}
	{{ range site.Params.plugins.css }}
	{{ $allcss = $allcss | append (resources.Get .link) }}
	{{ end }}
	{{ $allcss := $allcss | resources.Concat "/css/vendor.css" | minify | fingerprint "sha512" }}
	<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}" media="screen">

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="icon" href="{{ site.Params.favicon | relURL }}" type="image/png">

</head>
