{{ $sizes := split "800,1200,1600" "," }}
{{ $breakPoints := split "400,800,801" "," }}
{{ $params := . }}
{{ if isset . "image" }}
  {{ if isset . "sizes" }}
    {{ $sizes = split .sizes "," }}
    {{ if not (eq (len $sizes) 3) }}
      {{ errorf "Exactly three image sizes for partial image are expected for mobile, small and large screen breakpoints" }}
    {{ end }}
  {{ end }}
  <picture>
    {{ range $index, $el := $sizes }}
      {{ if(lt (add $index 1) (len $sizes)) }}
        <source srcset="{{ ($params.image.Resize (printf "%s%s" $el "x webp")).RelPermalink }}" media="(max-width: {{ index $breakPoints $index }}px)">
        <source srcset="{{ ($params.image.Resize (printf "%s%s" $el "x")).RelPermalink }}" media="(max-width: {{ index $breakPoints $index }}px)">
      {{ else }}
        <source srcset="{{ ($params.image.Resize (printf "%s%s" $el "x webp")).RelPermalink }}" media="(min-width: {{ index $breakPoints $index }}px)">
        <source srcset="{{ ($params.image.Resize (printf "%s%s" $el "x")).RelPermalink }}" media="(min-width: {{ index $breakPoints $index }}px)">
      {{ end }}
    {{ end }}
      <img src="{{ ($params.image.Resize (printf "%s%s" (index $sizes 1) "x")).RelPermalink}}" loading="lazy" alt="{{ $params.altText }}" style="max-width: 100%;" class="{{ $params.classes }}" width="{{.width}}" height="{{.height}}">
  </picture>
{{ end }}
