{{ "<!-- navigation -->" | safeHTML }}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand page-scroll" href="/">{{ site.Params.author }}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu <i class="fas fa-bars ms-1"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
				{{ range site.Menus.main }}
				<li class="nav-item">
					<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</nav>
{{ "<!-- /navigation -->" | safeHTML }}
