{{$Inner := .Inner}}
{{with $.Params}}
<section class="page-section" id="about">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">{{ .title | markdownify }}</h2>
			<h3 class="section-subheading text-muted">{{ .subtitle | markdownify }}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<ul class="timeline">
				{{ $Inner}}
			</ul>
		</div>
	</div>
</section>
{{ end }}
