{{ with $.Params }}
{{ if .inverted }}
<li class="timeline-inverted">
{{ else }}
<li>
{{ end }}
	<div class="timeline-image">
		{{ if ($.Page.Resources.GetMatch .image) }}
			{{ partial "image" (dict "image" ($.Page.Resources.GetMatch .image) "altText" (.imgAlt) "classes" "img-fluid rounded-circle" "sizes" "150,200,300" "width" "157" "height" "157") }}
		{{ end }}
	</div>
	<div class="timeline-panel">
		<div class="timeline-heading">
			<h4>{{ .title | markdownify }}</h4>
			<h4 class="subheading">{{ .subtitle | markdownify }}</h4>
		</div>
		<div class="timeline-body">
			<p class="text-muted">{{ .text | markdownify }}</p>
		</div>
	</div>
</li>
{{ end }}
