{{with $.Params}}
<!-- Team Section -->
<div class="col-lg-4">
	<div class="team-member">
		<a href="{{ .link }}" target="_blank" rel="noreferrer">
			{{ if ($.Page.Resources.GetMatch .image) }}
				{{ partial "image" (dict "image" ($.Page.Resources.GetMatch .image) "altText" (.imgAlt) "classes" "mx-auto rounded-circle" "sizes" "200,200,300" "width" "224" "height" "224") }}
			{{ end }}
		</a>
		<h4>{{ .title | markdownify }}</h4>
		<p class="text-muted">{{ .text | markdownify }}</p>
	</div>
</div>
{{ end }}
