{{with $.Params}}
<div class="col-md-4">
  <span class="fa-stack fa-4x">
    <i class="fa fa-circle fa-stack-2x text-primary"></i>
    <i class="{{ .iconClass }} fa-stack-1x fa-inverse" style="color: {{ .color }}"></i>
  </span>
</div>
{{ end }}
