{{with $.Params}}
<section class="page-section" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{ .title | markdownify }}</h2>
				<h3 class="section-subheading">{{ .subtitle | markdownify }}</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				<p>{{ .mailText | markdownify }}</p>
				<br>
			</div>
			<div class="col-lg-6 text-center">
				<p>{{ .socialText | markdownify }}</p>
			</div>
			<div class="col-lg-6 text-center">
				<button type="button" class="btn btn-primary btn-lg" href="mailto:{{ $.Params.email }}">
					<i class="fa fa-envelope fa-fw"></i>&nbsp; {{ .email }}
				</button>
			</div>
			<div class="col-lg-6 text-center">
				{{ with site.Params.social }}
				<div class="social-buttons">
					{{ range . }}
						{{ if not (hasPrefix .link "mailto")  }}
							<a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer" alt="{{ .title }}" class="hoverTransition">
								<span class="fa-stack fa-2x">
									<i class="fas fa-circle fa-stack-2x"></i>
									<i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
								</span>
							</a>
						{{ end }}
					{{ end }}
				</div>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}
