{{$Inner := .Inner}}
{{$ID:=delimit (shuffle (seq 1 9)) ""}}
{{with $.Params}}
<div class="col-lg-4 col-sm-6 mb-4">
	<div class="portfolio-item">
		<a class="portfolio-link" data-bs-toggle="modal" href="#a{{ $ID }}">
			<div class="portfolio-hover">
				<div class="portfolio-hover-content">
					<i class="fa fa-plus fa-3x"></i>
				</div>
			</div>
			{{ if ($.Page.Resources.GetMatch .image) }}
				{{ partial "image" (dict "image" ($.Page.Resources.GetMatch .image) "altText" (.imgAlt) "classes" "img-fluid" "sizes" "400,400,630" "width" "400" "height" "288") }}
			{{ end }}
		</a>
		<div class="portfolio-caption">
			<div class="portfolio-caption-heading">{{ .title | markdownify }}</div>
			<div class="portfolio-caption-subheading text-muted">{{ .subtitle | markdownify }}</div>
		</div>
	</div>
</div>
<div class="modal fade" id="a{{ $ID }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">{{ .modalTitle | markdownify }}</h2>
				<a href="" data-bs-dismiss="modal" aria-label="Close" style="color: black;">
					<span aria-hidden="true"><i class="fas fa-times"></i></span>
				</a>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row justify-content-center">
						<div class="col-lg-6 my-auto">
							{{ if ($.Page.Resources.GetMatch .image) }}
								{{ partial "image" (dict "image" ($.Page.Resources.GetMatch .image) "altText" (.imgAlt) "classes" "img-fluid d-block mx-auto" "sizes" "200,400,630" "defaultSize" "400") }}
							{{ end }}
						</div>
						<div class="col-lg-6 modalText text-center">
							{{ $Inner | markdownify }}
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<ul class="list-inline">
					Beispiele:&nbsp;&nbsp;&nbsp;{{ range $index, $el := (split $.Params.footerKeys ",") }}
						<li class="list-inline-item">
							{{ $el | markdownify }}:
							{{ (index (split $.Params.footerValues ",") $index) | markdownify }}
						</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</div>
{{ end }}
