{{$Inner := .Inner}}
{{with $.Params}}
<section class="page-section" id="services">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">{{ .title | markdownify }}</h2>
			<h3 class="section-subheading text-muted">{{ .subtitle | markdownify }}</h3>
		</div>
		<div class="row text-center justify-content-md-center">
			{{ $Inner }}
		</div>
		<div class="row justify-content-md-center">
			<div class="col-lg-8 text-center">
				<p class="large text-muted">{{ .beneath | markdownify }}</p>
			</div>
		</div>
	</div>
</section>
{{ end }}
