{{with $.Params}}
<div class="col-md-4">
	{{ if .iconClass }}
		<span class="fa-stack fa-4x">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="{{ .iconClass }} fa-stack-1x fa-inverse"></i>
		</span>
		<h4 class="my-3">{{ .title | markdownify }}</h4>
		<p class="text-muted">{{ .text | markdownify }}</p>
	{{ end }}
	{{ if .image }}
		{{ if ($.Page.Resources.GetMatch .image) }}
			{{ partial "image" (dict "image" ($.Page.Resources.GetMatch .image) "altText" (.imgAlt) "classes" "img-fluid rounded-circle" "sizes" "150,200,300" "width" "127" "height" "127") }}
		{{ end }}
		<h4 class="my-3">{{ .title | markdownify }}</h4>
		<p class="text-muted">{{ .text | markdownify }}</p>
	{{ end }}

</div>
{{ end }}
